* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-color: #2196f3;
  --section-color: #ececec;
  --main-transition: 0.3s;
  --fill-color: rgb(255 255 255 / 20%);
  --p-color: #777;
  --main-line-height: 1.6;
  --border-main-color: #e9e6e6;
  --padding-top-section: 100px;
  --padding-bottom-section: 100px;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  margin: 0 auto 100px;
  width: fit-content;
  position: relative;
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 32px;
  font-weight: bold;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.3s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.3s linear forwards;
}
.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.3s;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Header */
nav {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
nav .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
nav .header .container .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 26px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .header .container .main-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .header .container .main-links > li {
  list-style: none;
}
nav .header .container .main-links > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  font-size: 18px;
  padding: 0 30px;
  color: black;
  transition: var(--main-transition);
  position: relative;
}
nav .header .container .main-links > li > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
nav .header .container .main-links > li > a:hover {
  color: var(--main-color);
  background-color: aliceblue;
}
nav .header .container .main-links > li > a:hover::before {
  width: 100%;
}
@media (max-width: 768px) {
  nav .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  nav .header .container .logo {
    font-size: 24px;
    height: 50px;
  }
  nav .header .container .main-links > li > a {
    padding: 0 10px;
    font-size: 13px;
    height: 50px;
  }
}
nav .mega-menu {
  display: none;
  align-items: center;
  gap: 25px;
  position: absolute;
  width: 100%;
  background-color: white;
  border-bottom: 4px solid var(--main-color);
  padding: 30px;
  z-index: 5;
  left: 0;
  top: 71px;
}
nav .mega-menu img {
  max-width: 100%;
  flex-basis: calc(100% / 3);
}
nav .mega-menu .links {
  flex-basis: calc(100% / 3);
}
nav .mega-menu .links li {
  list-style: none;
  z-index: 1;
  position: relative;
}
nav .mega-menu .links li::before {
  content: "";
  position: absolute;
  background-color: #fafafa;
  height: 100%;
  width: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: var(--main-transition);
  z-index: -1;
}
nav .mega-menu .links li:hover::before {
  width: 100%;
}
nav .mega-menu .links li a {
  display: block;
  color: var(--main-color);
  font-weight: 800;
  padding: 15px 20px;
  font-size: 18px;
}
nav .mega-menu .links li a i {
  margin-right: 8px;
  font-size: 18px;
  font-weight: 400;
}
nav .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid var(--border-main-color);
}
@media (max-width: 991px) {
  nav .mega-menu img {
    display: none;
  }
  nav .mega-menu {
    gap: 0;
  }
  nav .mega-menu img {
    max-width: 100%;
  }
  nav .mega-menu .links {
    flex-basis: 50%;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  nav .mega-menu {
    flex-direction: column;
    padding: 0;
    top: 101px;
  }
  nav .mega-menu .links {
    width: 100%;
  }
  nav .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid var(--border-main-color);
  }
}
/* End Header */
/* Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-color);
  transform: skewY(-6deg);
  z-index: -1;
}
.landing .container {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
.landing .container .image img {
  max-width: 100%;
  position: relative;
  animation: moving-image 5s linear infinite;
}
.landing .container .info h3 {
  font-size: 40px;
  letter-spacing: -1px;
  font-weight: 800;
}
.landing .container .info p {
  font-size: 25px;
  line-height: var(--main-line-height);
  color: var(--p-color);
}
.landing .container a i {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  animation: moving-arrow 1.5s linear infinite;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
  .landing .container {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .landing .container {
    min-height: calc(100vh - 100px);
  }
  .landing .container .info h3 {
    font-size: 28px;
  }
  .landing .container .info p {
    padding: 0 20px;
    font-size: 22px;
  }
}
/* End Landing */
/* Articles */
.articles {
  position: relative;
  background-color: white;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-15px);
}
.articles .container .box:hover .more i {
  animation: more-arrow 0.5s linear infinite;
}
.articles .container .box .image img {
  max-width: 100%;
}
.articles .container .box .info {
  padding: 20px 25px;
  border-bottom: 1px solid var(--border-main-color);
}
.articles .container .box .info h3 {
  margin: 0;
}
.articles .container .box .info p {
  color: var(--p-color);
  margin-top: 5px;
  line-height: var(--main-line-height);
  font-size: 16px;
}
.articles .container .box .more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}
.articles .container .box .more a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .box .more i {
  color: var(--main-color);
  cursor: pointer;
  position: relative;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* End Articles */
/* Gallery */
.gallery {
  position: relative;
  background-color: var(--section-color);
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .holder {
  background-color: white;
  padding: 15px 15px 7px 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .holder .box {
  position: relative;
  overflow: hidden;
}
.gallery .container .holder .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .holder .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: var(--fill-color);
  transition: var(--main-transition);
  z-index: 1;
}
.gallery .container .holder .box:hover img {
  transform: scale(1.1) rotate(5deg);
}
.gallery .container .holder .box:hover::before {
  animation: fill-color 0.3s linear;
}
/* End Gallery */
/* Features */
.features {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
}
.features .container .box:hover .image::after {
  border-width: 0px 600px 170px 0;
  border-color: transparent transparent white transparent;
}
.features .container .box .image {
  position: relative;
}
.features .container .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.features .container .box .image::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent white transparent;
  bottom: 0;
  right: 0;
  border-width: 0px 0px 170px 600px;
  transition: var(--main-transition);
}
.features .container .box:first-child .image:before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .box:nth-child(2) .image:before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .box:last-child .image:before {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .box .image img {
  max-width: 100%;
}
.features .container .box .info {
  text-align: center;
  padding: 0 25px 25px;
}
.features .container .box .info h3 {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 15px;
}
.features .container .box .info h3::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -5px;
  left: 15px;
  background: red;
}
.features .container .box:first-child h3::after {
  background-color: rgb(244 64 54);
}
.features .container .box:nth-child(2) h3::after {
  background-color: rgb(0 150 136);
}
.features .container .box:last-child h3::after {
  background-color: rgb(3 169 244);
}
.features .container .box .info p {
  margin-top: 30px;
  color: var(--p-color);
  font-size: 20px;
  line-height: var(--main-line-height);
}
.features .container .box .more {
  padding: 40px 25px 45px;
}
.features .container .box .more a {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px 30px;
  color: red;
  border: 3px solid red;
  transition: var(--main-transition);
}
.features .container .box:first-child .more a {
  color: rgb(244 64 54);
  border: 3px solid rgb(244 64 54);
}
.features .container .box:nth-child(2) .more a {
  color: rgb(0 150 136);
  border: 3px solid rgb(0 150 136);
}
.features .container .box:last-child .more a {
  color: rgb(3 169 244);
  border: 3px solid rgb(3 169 244);
}
.features .container .box .more a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.features .container .box:first-child .more a::before {
  background-color: rgb(244 64 54);
}
.features .container .box:nth-child(2) .more a::before {
  background-color: rgb(0 150 136);
}
.features .container .box:last-child .more a::before {
  background-color: rgb(3 169 244);
}
.features .container .box:hover .more a {
  color: white;
}
.features .container .box:hover .more a::before {
  width: 100%;
}
/* End Features */
/* Testimonials */
.testimonials {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  background-color: var(--section-color);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  background-color: white;
  border-radius: 6px;
  padding: 25px;
  position: relative;
}
.testimonials .container .box img {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: -50px;
  right: -25px;
  border: 10px solid var(--section-color);
}
.testimonials .container .box .info h3 {
  margin-bottom: 10px;
}
.testimonials .container .box .info p {
  color: var(--p-color);
  line-height: var(--main-line-height);
  margin-bottom: 10px;
}
.testimonials .container .box .stars {
  margin-bottom: 10px;
}
.testimonials .container .box .info .stars i:not(.filled) {
  font-weight: 100;
}
.testimonials .container .box .info .stars i.filled {
  color: #ffc107;
}
/* End Testimonials */
/* Team Members */
.team-members {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team-members .container .box {
  position: relative;
  border-radius: 10px;
  z-index: 3;
}
.team-members .container .box::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  background-color: var(--section-color);
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 100%;
  z-index: -2;
}
.team-members .container .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 10px;
  transition: var(--main-transition);

  z-index: -1;
}
.team-members .container .box:hover:after {
  width: calc(100% - 60px);
}
.team-members .container .box:hover .content img {
  filter: grayscale();
}
.team-members .container .box .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 60px;
}
.team-members .container .box .content img {
  width: calc(100% - 60px);
  border-radius: 10px;
}
.team-members .container .box .content .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.team-members .container .box .content .social i {
  cursor: pointer;
  color: var(--p-color);
}
.team-members .container .box .content .social i:hover {
  color: var(--main-color);
}
.team-members .container .box .info {
  margin: 0;
  margin-top: 15px;
  padding-left: 80px;
}
.team-members .container .box .info h3 {
  font-size: 22px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team-members .container .box:hover .info h3 {
  color: var(--p-color);
}
.team-members .container .box .info p {
  font-size: 16px;
  padding-bottom: 20px;
}
/* End Team Members */
/* Services */
.services {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  background-color: var(--section-color);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}
.services .container .box:hover {
  transform: translateY(-15px);
}
.services .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: var(--main-color);
  width: 0;
  transition: var(--main-transition);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box .content {
  text-align: center;
  margin-top: 30px;
}
.services .container .box .content i {
  color: #d5d5d5;
}
.services .container .box .content h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 10px;
}
.services .container .box .details {
  background-color: #f9f9f9;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services .container .box .details .number {
  width: 95px;
  background-color: var(--main-color);
  text-align: left;
  position: relative;
  padding-left: 25px;
  height: 49px;
}
.services .container .box .details .number::after {
  content: "";
  position: absolute;
  right: -43px;
  height: 100%;
  width: 58px;
  background-color: #d5d5d5;
  transform: skewX(-27deg);
}
.services .container .box .details .number span {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.services .container .box .details .number span::after {
  content: "0" counter(services);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.services .container .box .details a {
  color: var(--main-color);
  padding: 15px;
}
/* End Services */
/* Our Skills */
.our-skills {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.our-skills .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .our-skills .container img {
    display: none;
  }
}

.our-skills .container .skills {
  flex: 1;
}
.our-skills .container .holder {
  margin-bottom: 20px;
}
.our-skills .container .holder .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.our-skills .container .holder .header span {
  color: var(--main-color);
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 3px 5px;
}
.our-skills .container .holder .progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .container .holder .progress span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  transition: var(--main-transition);
}
/* End Our Skills */
/* How It Works */
.how-it-works {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  background-color: var(--section-color);
}
.how-it-works .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
@media (max-width: 991px) {
  .how-it-works .container {
    flex-direction: column;
    gap: 50px;
  }
}
.how-it-works .container img {
  max-width: 100%;
}
.how-it-works .container .boxes .box {
  position: relative;
  background-color: #f6f5f5;
  border: 2px solid white;
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  z-index: 1;
}
@media (max-width: 768px) {
  .how-it-works .container .boxes .box {
    flex-direction: column;
    text-align: center;
  }
}
.how-it-works .container .boxes .box::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: #ededed;
  z-index: -1;
  transition: var(--main-transition);
}
.how-it-works .container .boxes .box:hover:after {
  width: 100%;
  height: 100%;
}
.how-it-works .container .boxes .box img {
  width: 64px;
}
.how-it-works .container .boxes .box .content h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.how-it-works .container .boxes .box .content p {
  color: var(--p-color);
  line-height: var(--main-line-height);
  font-size: 18px;
}
/* End How It Works */
/* Latest Events */
.latest-events {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.latest-events > img {
  position: absolute;
  height: 186px;
  width: 204px;
}
.latest-events > img:first-of-type {
  top: 120px;
  right: 0;
}
.latest-events > img:last-of-type {
  bottom: 120px;
  left: 0;
}
@media (max-width: 991px) {
  .latest-events > img {
    display: none;
  }
}
.latest-events .container .holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.latest-events .container img {
  max-width: 450px;
}
@media (max-width: 991px) {
  .latest-events .container img {
    display: none;
  }
}
.latest-events .container .content .time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 50px;
}
.latest-events .container .content .time .unit {
  width: 75px;
  border: 1px solid #d4d4d4;
  padding-top: 15px;
  text-align: center;
  border-radius: 6px;
  transition: var(--main-transition);
}
.latest-events .container .content .time .unit:hover,
.latest-events .container .content .time .unit:hover span {
  border-color: var(--main-color);
}
.latest-events .container .content .time .unit p {
  font-size: 35px;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 20px;
}
.latest-events .container .content .time .unit span {
  display: block;
  width: 100%;
  font-size: 13px;
  padding: 10px 0;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}
.latest-events .container .content .info {
  text-align: center;
}
.latest-events .container .content .info h3 {
  font-size: 30px;
  margin-bottom: 20px;
}
.latest-events .container .content .info p {
  color: var(--p-color);
  line-height: var(--main-line-height);
  font-size: 18px;
}
.latest-events .container .subscribe {
  margin: 60px auto 20px;
  width: 600px;
  text-align: center;
  background-color: #f6f5f5;
  border-radius: 50px;
  padding: 30px 40px;
}
@media (max-width: 768px) {
  .latest-events .container .subscribe {
    max-width: 100%;
  }
}
.latest-events .container .subscribe form {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .latest-events .container .subscribe form {
    flex-direction: column;
  }
}
.latest-events .container .subscribe input[type="email"] {
  background-color: white;
  outline: none;
  border: none;
  padding: 20px;
  border-radius: 50px;
  caret-color: var(--main-color);
  flex: 1;
}
.latest-events .container .subscribe input[type="email"]::placeholder {
  transition: var(--main-transition);
}
.latest-events .container .subscribe input[type="email"]:focus::placeholder {
  color: white;
}
.latest-events .container .subscribe input[type="submit"] {
  background-color: var(--main-color);
  color: white;
  font-weight: bold;
  border: none;
  cursor: pointer;
  padding: 20px;
  border-radius: 50px;
  transition: var(--main-transition);
}
@media (max-width: 768px) {
  .latest-events .container .subscribe,
  .latest-events .container .subscribe input[type="email"],
  .latest-events .container .subscribe input[type="submit"] {
    border-radius: 10px;
  }
}
.latest-events .container .subscribe input[type="submit"]:hover {
  background-color: #0e82e0;
}
/* End Latest Events */
/* Pricing Plans */
.pricing-plans {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  background-color: var(--section-color);
}
.pricing-plans .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.pricing-plans .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  position: relative;
  z-index: 1;
}
.pricing-plans .container .box::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 50%;
  width: 0;
  background-color: #f6f6f6;
  transition: var(--main-transition);
  z-index: -1;
}
.pricing-plans .container .box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50%;
  width: 0;
  background-color: #f6f6f6;
  transition: var(--main-transition);
  z-index: -1;
}
.pricing-plans .container .box:hover::before {
  width: 100%;
}
.pricing-plans .container .box:hover::after {
  width: 100%;
}
@media (min-width: 1200px) {
  .pricing-plans .container .box.advanced {
    transform: translateY(-20px);
  }
}

.pricing-plans .container .box.advanced label {
  position: absolute;
  right: 20px;
  top: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--main-color);
  padding: 10px;
  writing-mode: vertical-lr;
  width: 40px;
  height: 160px;
}
.pricing-plans .container .box.advanced label::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -20px;
  transform: translateX(-50%);
  border-width: 20px;
  border-style: solid;
  border-color: transparent transparent white transparent;
}
.pricing-plans .container .box .header {
  text-align: center;
}
.pricing-plans .container .box .header h3 {
  margin-top: 30px;
  font-size: 25px;
  letter-spacing: -1px;
}
.pricing-plans .container .box .header img {
  margin-top: 30px;
  width: 80px;
}
.pricing-plans .container .box .header p:first-of-type {
  margin-top: 30px;
  color: var(--main-color);
  font-size: 60px;
  font-weight: bold;
}
.pricing-plans .container .box .header p:last-of-type {
  margin-top: 5px;
  color: var(--p-color);
}
.pricing-plans .container .box ul {
  margin-top: 20px;
  list-style: none;
}
.pricing-plans .container .box ul li {
  border-top: 1px solid #eee;
  padding: 20px;
}
.pricing-plans .container .box ul li::before {
  content: "\f00c";
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  margin-right: 10px;
  color: var(--main-color);
}
.pricing-plans .container .box a {
  display: block;
  margin: 30px auto 40px;
  width: max-content;
  color: var(--main-color);
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 6px;
  border: 2px solid var(--main-color);
  transition: var(--main-transition);
}
.pricing-plans .container .box a:hover {
  color: white;
  background-color: var(--main-color);
}
/* End Pricing Plans */
/* Videos */
.videos {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.videos .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .videos .container {
    flex-direction: column;
  }
}
.videos .container .content {
  min-width: 300px;
  border: 1px solid #ddd;
}
.videos .container .content .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}
.videos .container .content .header h3 {
  font-size: 15px;
}
.videos .container .content .video {
  padding: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
.videos .container .content .video:hover {
  background-color: #fafafa;
}
.videos .container .content .video:hover h3 {
  color: var(--main-color);
  transition: var(--main-transition);
}
.videos .container .content .video:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.videos .container .content .video h3 {
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 15px;
}
.videos .container .content .video span {
  color: var(--p-color);
}
.videos .container .image {
  background-color: #e2e2e2;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.videos .container .image img {
  max-width: 100%;
}
.videos .container .image p {
  width: 100%;
  background-color: white;
  padding: 25px;
  margin-top: 10px;
}
/* End Videos */
/* Stats */
.stats {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  text-align: center;
  background-image: url("../imgs/stats.jpg");
}
.stats::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.95);
}
.stats h1 {
  position: relative;
  font-size: 40px;
  margin: 0;
  margin-bottom: 50px;
  z-index: 1;
}
.stats .container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  z-index: 1;
}
.stats .container .box {
  position: relative;
  background-color: white;
  padding: 30px;
}
.stats .container .box::before {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  height: 0;
  left: 0;
  bottom: 0;
  transition: var(--main-transition);
}
.stats .container .box::after {
  content: "";
  position: absolute;
  width: 2px;
  background-color: var(--main-color);
  height: 0;
  right: 0;
  top: 0;
  transition: var(--main-transition);
}
.stats .container .box:hover::before,
.stats .container .box:hover::after {
  height: 100%;
}
.stats .container .box i {
  margin-bottom: 10px;
}
.stats .container .box span {
  display: block;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 10px;
}
.stats .container .box p {
  font-weight: bold;
  color: var(--main-color);
  font-size: 20px;
  font-style: italic;
}
/* End Stats */
/* Discount */
.discount {
  min-height: 100hv;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .discount {
    flex-wrap: wrap;
  }
}
.discount .content {
  flex-basis: 50%;
  position: relative;
  background-image: url("../imgs/discount-background1.jpg");
  background-size: cover;
  z-index: -2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: white;
  text-align: center;
  padding: 0 30px 50px;
  animation: image linear 10s infinite;
}
@media (max-width: 991px) {
  .discount .content {
    flex-basis: 100%;
  }
}
.discount .content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(33, 150, 243, 0.98);
  z-index: -1;
}
.discount .content h1 {
  position: relative;
  z-index: 1;
  margin: 30px auto;
  font-size: 35px;
}
.discount .content p {
  position: relative;
  font-size: 18px;
  line-height: var(--main-line-height);
  z-index: 1;
}
.discount .content img {
  position: relative;
  width: 300px;
  max-width: 100%;
  z-index: 1;
}
.discount form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-basis: 50%;
  background-color: white;
  text-align: center;
  padding: 0 0 50px;
}
@media (max-width: 991px) {
  .discount form {
    flex-basis: 100%;
  }
}
.discount form h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 30px 0;
  width: max-content;
}
.discount form input:not(input[type="submit"]) {
  margin-bottom: 25px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 300px;
  padding: 15px;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
}
.discount form textarea {
  margin-bottom: 25px;
  outline: none;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 300px;
  padding: 15px;
  background-color: #f9f9f9;
  caret-color: var(--main-color);
  resize: none;
}
.discount form input[type="submit"] {
  width: 300px;
  padding: 15px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: var(--main-color);
  cursor: pointer;
  transition: var(--main-transition);
}
.discount form input[type="submit"]:hover {
  background-color: #167dd1;
}
/* End Discount */
/* Footer */
footer {
  background-color: #191919;
  padding-top: 70px;
}
footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
footer .container .social h1 {
  color: white;
  font-size: 50px;
  margin: 0;
  margin-bottom: 20px;
}
footer .container .social .media {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 20px;
}
footer .container .social .media > div {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #b9b9b9;
  background-color: #313131;
  font-size: 20px;
  cursor: pointer;
  transition: var(--main-transition);
}
footer .container .social .media .facebook:hover {
  background-color: #1877f2;
}
footer .container .social .media .twitter:hover {
  background-color: #1da1f2;
}
footer .container .social .media .youtube:hover {
  background-color: #ff0000;
}
footer .container .social p {
  color: #b9b9b9;
  line-height: var(--main-line-height);
}
footer .container .links ul {
  list-style: none;
}
footer .container .links ul li {
  padding: 15px 0;
}
footer .container .links ul li a::before {
  font-family: "Font Awesome 5 Free";
  content: "\F101";
  font-weight: 900;
  margin-right: 10px;
  color: var(--main-color);
}
footer .container .links ul li:hover a {
  color: white;
  padding-left: 10px;
}
footer .container .links ul li:not(:last-child) {
  border-bottom: 1px solid #444;
}
footer .container .links ul li a {
  transition: var(--main-transition);
  color: #b9b9b9;
}
footer .container .contact > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 30px;
}
footer .container .contact > div i {
  font-size: 25px;
  margin-right: 10px;
  color: var(--main-color);
}
footer .container .contact > div p {
  color: #b9b9b9;
  line-height: var(--main-line-height);
}
footer .container .images img {
  border: 3px solid white;
  width: 78px;
  margin: 2px;
}
footer .copyright {
  margin-top: 50px;
  border-top: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  color: white;
}

/* End Footer */
/* animations */
@keyframes moving-image {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes moving-arrow {
  0%,
  20%,
  40% {
    bottom: 30px;
  }
  10%,
  30% {
    bottom: 45px;
  }
}
@keyframes left-move {
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes right-move {
  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes more-arrow {
  0% {
    right: 0;
  }
  50% {
    right: -5px;
  }
}
@keyframes fill-color {
  100% {
    width: 200%;
    height: 200%;
  }
}
@keyframes image {
  0%,
  100% {
    background-image: url("../imgs/discount-background1.jpg");
  }
  50% {
    background-image: url("../imgs/discount-background2.jpg");
  }
}
/* End animations */
