* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
:root {
  --main-color: #2196f3;
  --section-color: #ececec;
  --main-transition: 0.3s;
  --fill-color: rgb(255 255 255 / 20%);
  --p-color: #777;
  --main-line-height: 1.6;
  --border-main-color: #e9e6e6;
  --padding-top-section: 100px;
  --padding-bottom-section: 100px;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.main-title {
  margin: 0 auto 100px;
  width: fit-content;
  position: relative;
  background-color: transparent;
  border: 2px solid black;
  padding: 10px 20px;
  font-size: 32px;
  font-weight: bold;
  z-index: 1;
  transition: var(--main-transition);
}
.main-title::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  left: -25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.main-title::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--main-color);
  right: -25px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.main-title:hover::before {
  z-index: -1;
  animation: left-move 0.3s linear forwards;
}
.main-title:hover::after {
  z-index: -1;
  animation: right-move 0.3s linear forwards;
}
.main-title:hover {
  color: white;
  border-color: white;
  transition-delay: 0.3s;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Header */
nav {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}
nav .header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}
nav .header .container .logo {
  color: var(--main-color);
  font-weight: bold;
  font-size: 26px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .header .container .main-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .header .container .main-links > li {
  list-style: none;
}
nav .header .container .main-links > li > a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  font-size: 18px;
  padding: 0 30px;
  color: black;
  transition: var(--main-transition);
  position: relative;
}
nav .header .container .main-links > li > a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 4px;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  transition: var(--main-transition);
}
nav .header .container .main-links > li > a:hover {
  color: var(--main-color);
  background-color: aliceblue;
}
nav .header .container .main-links > li > a:hover::before {
  width: 100%;
}
@media (max-width: 768px) {
  nav .header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }
  nav .header .container .logo {
    font-size: 24px;
    height: 50px;
  }
  nav .header .container .main-links > li > a {
    padding: 0 10px;
    font-size: 13px;
    height: 50px;
  }
}
nav .mega-menu {
  display: none;
  align-items: center;
  gap: 25px;
  position: absolute;
  width: 100%;
  background-color: white;
  border-bottom: 4px solid var(--main-color);
  padding: 30px;
  z-index: 5;
  left: 0;
  top: 71px;
}
nav .mega-menu img {
  max-width: 100%;
  flex-basis: calc(100% / 3);
}
nav .mega-menu .links {
  flex-basis: calc(100% / 3);
}
nav .mega-menu .links li {
  list-style: none;
  z-index: 1;
  position: relative;
}
nav .mega-menu .links li::before {
  content: "";
  position: absolute;
  background-color: #fafafa;
  height: 100%;
  width: 0;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: var(--main-transition);
  z-index: -1;
}
nav .mega-menu .links li:hover::before {
  width: 100%;
}
nav .mega-menu .links li a {
  display: block;
  color: var(--main-color);
  font-weight: 800;
  padding: 10px 20px;
}
nav .mega-menu .links li a i {
  margin-right: 8px;
  font-size: 17px;
  font-weight: 400;
}
nav .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid var(--border-main-color);
}
@media (max-width: 991px) {
  nav .mega-menu img {
    display: none;
  }
  nav .mega-menu {
    gap: 0;
  }
  nav .mega-menu img {
    max-width: 100%;
  }
  nav .mega-menu .links {
    flex-basis: 50%;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  nav .mega-menu {
    flex-direction: column;
    padding: 0;
    top: 101px;
  }
  nav .mega-menu .links {
    width: 100%;
  }
  nav .mega-menu .links:first-of-type li:last-child {
    border-bottom: 1px solid var(--border-main-color);
  }
}
/* End Header */
/* Landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  top: -65px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--section-color);
  transform: skewY(-6deg);
  z-index: -1;
}
.landing .container {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 100px;
}
.landing .container .image img {
  max-width: 100%;
  position: relative;
  animation: moving-image 5s linear infinite;
}
.landing .container .info h3 {
  font-size: 40px;
  letter-spacing: -1px;
  font-weight: 800;
}
.landing .container .info p {
  font-size: 25px;
  line-height: var(--main-line-height);
  color: var(--p-color);
}
.landing .container a i {
  color: var(--main-color);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  animation: moving-arrow 1.5s linear infinite;
}
@media (max-width: 991px) {
  .landing .container .image {
    display: none;
  }
  .landing .container {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .landing .container {
    min-height: calc(100vh - 100px);
  }
  .landing .container .info h3 {
    font-size: 28px;
  }
  .landing .container .info p {
    padding: 0 20px;
    font-size: 22px;
  }
}
/* End Landing */
/* Articles */
.articles {
  position: relative;
  background-color: white;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
.articles .container .box {
  box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
  border-radius: 6px;
  overflow: hidden;
  transition: var(--main-transition);
}
.articles .container .box:hover {
  transform: translateY(-15px);
}
.articles .container .box:hover .more i {
  animation: more-arrow 0.5s linear infinite;
}
.articles .container .box .image img {
  max-width: 100%;
}
.articles .container .box .info {
  padding: 20px 25px;
  border-bottom: 1px solid var(--border-main-color);
}
.articles .container .box .info h3 {
  margin: 0;
}
.articles .container .box .info p {
  color: var(--p-color);
  margin-top: 5px;
  line-height: var(--main-line-height);
  font-size: 16px;
}
.articles .container .box .more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px;
}
.articles .container .box .more a {
  color: var(--main-color);
  font-weight: bold;
}
.articles .container .box .more i {
  color: var(--main-color);
  cursor: pointer;
  position: relative;
}
.spikes {
  position: relative;
}
.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  width: 100%;
  height: 30px;
  z-index: 1;
  background-image: linear-gradient(135deg, white 25%, transparent 25%),
    linear-gradient(225deg, white 25%, transparent 25%);
  background-size: 30px 30px;
}
/* End Articles */
/* Gallery */
.gallery {
  position: relative;
  background-color: var(--section-color);
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.gallery .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.gallery .container .holder {
  background-color: white;
  padding: 15px 15px 7px 15px;
  box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%),
    0px 2px 4px 0px rgb(0 0 0 / 12%);
}
.gallery .container .holder .box {
  position: relative;
  overflow: hidden;
}
.gallery .container .holder .box img {
  max-width: 100%;
  transition: var(--main-transition);
}
.gallery .container .holder .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: var(--fill-color);
  transition: var(--main-transition);
  z-index: 1;
}
.gallery .container .holder .box:hover img {
  transform: scale(1.1) rotate(5deg);
}
.gallery .container .holder .box:hover::before {
  animation: fill-color 0.3s linear;
}
/* End Gallery */
/* Features */
.features {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.features .container .box {
  position: relative;
  text-align: center;
  border: 1px solid #ccc;
  overflow: hidden;
}
.features .container .box:hover .image::after {
  border-width: 0px 600px 170px 0;
  border-color: transparent transparent white transparent;
}
.features .container .box .image {
  position: relative;
}
.features .container .box .image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
}
.features .container .box .image::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-color: transparent transparent white transparent;
  bottom: 0;
  right: 0;
  border-width: 0px 0px 170px 600px;
  transition: var(--main-transition);
}
.features .container .box:first-child .image:before {
  background-color: rgb(244 64 54 / 60%);
}
.features .container .box:nth-child(2) .image:before {
  background-color: rgb(0 150 136 / 60%);
}
.features .container .box:last-child .image:before {
  background-color: rgb(3 169 244 / 60%);
}
.features .container .box .image img {
  max-width: 100%;
}
.features .container .box .info {
  text-align: center;
  padding: 0 25px 25px;
}
.features .container .box .info h3 {
  position: relative;
  margin: 0 auto;
  width: fit-content;
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 15px;
}
.features .container .box .info h3::after {
  content: "";
  position: absolute;
  width: calc(100% - 30px);
  height: 5px;
  bottom: -5px;
  left: 15px;
  background: red;
}
.features .container .box:first-child h3::after {
  background-color: rgb(244 64 54);
}
.features .container .box:nth-child(2) h3::after {
  background-color: rgb(0 150 136);
}
.features .container .box:last-child h3::after {
  background-color: rgb(3 169 244);
}
.features .container .box .info p {
  margin-top: 30px;
  color: var(--p-color);
  font-size: 20px;
  line-height: var(--main-line-height);
}
.features .container .box .more {
  padding: 40px 25px 45px;
}
.features .container .box .more a {
  position: relative;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  padding: 5px 30px;
  color: red;
  border: 3px solid red;
  transition: var(--main-transition);
}
.features .container .box:first-child .more a {
  color: rgb(244 64 54);
  border: 3px solid rgb(244 64 54);
}
.features .container .box:nth-child(2) .more a {
  color: rgb(0 150 136);
  border: 3px solid rgb(0 150 136);
}
.features .container .box:last-child .more a {
  color: rgb(3 169 244);
  border: 3px solid rgb(3 169 244);
}
.features .container .box .more a::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  z-index: -1;
  transition: var(--main-transition);
}
.features .container .box:first-child .more a::before {
  background-color: rgb(244 64 54);
}
.features .container .box:nth-child(2) .more a::before {
  background-color: rgb(0 150 136);
}
.features .container .box:last-child .more a::before {
  background-color: rgb(3 169 244);
}
.features .container .box:hover .more a {
  color: white;
}
.features .container .box:hover .more a::before {
  width: 100%;
}
/* End Features */
/* Testimonials */
.testimonials {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  background-color: var(--section-color);
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.testimonials .container .box {
  background-color: white;
  border-radius: 6px;
  padding: 25px;
  position: relative;
}
.testimonials .container .box img {
  position: absolute;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  top: -50px;
  right: -25px;
  border: 10px solid var(--section-color);
}
.testimonials .container .box .info h3 {
  margin-bottom: 10px;
}
.testimonials .container .box .info p {
  color: var(--p-color);
  line-height: var(--main-line-height);
  margin-bottom: 10px;
}
.testimonials .container .box .stars {
  margin-bottom: 10px;
}
.testimonials .container .box .info .stars i:not(.filled) {
  font-weight: 100;
}
.testimonials .container .box .info .stars i.filled {
  color: #ffc107;
}
/* End Testimonials */
/* Team Members */
.team-members {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.team-members .container .box {
  position: relative;
  border-radius: 10px;
  z-index: 3;
}
.team-members .container .box::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  background-color: var(--section-color);
  top: 0;
  right: 0;
  width: calc(100% - 60px);
  height: 100%;
  z-index: -2;
}
.team-members .container .box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  background-color: #e4e4e4;
  border-radius: 10px;
  transition: var(--main-transition);

  z-index: -1;
}
.team-members .container .box:hover:after {
  width: calc(100% - 60px);
}
.team-members .container .box:hover .content img {
  filter: grayscale();
}
.team-members .container .box .content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 60px;
}
.team-members .container .box .content img {
  width: calc(100% - 60px);
  border-radius: 10px;
}
.team-members .container .box .content .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 40px;
}
.team-members .container .box .content .social i {
  cursor: pointer;
  color: var(--p-color);
}
.team-members .container .box .content .social i:hover {
  color: var(--main-color);
}
.team-members .container .box .info {
  margin: 0;
  margin-top: 15px;
  padding-left: 80px;
}
.team-members .container .box .info h3 {
  font-size: 22px;
  color: var(--main-color);
  margin-bottom: 10px;
}
.team-members .container .box:hover .info h3 {
  color: var(--p-color);
}
.team-members .container .box .info p {
  font-size: 16px;
  padding-bottom: 20px;
}
/* End Team Members */
/* Services */
.services {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
  background-color: var(--section-color);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
.services .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
  counter-increment: services;
  transition: var(--main-transition);
  position: relative;
}
.services .container .box:hover {
  transform: translateY(-15px);
}
.services .container .box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  background-color: var(--main-color);
  width: 0;
  transition: var(--main-transition);
}
.services .container .box:hover::before {
  width: 100%;
}
.services .container .box .content {
  text-align: center;
  margin-top: 30px;
}
.services .container .box .content i {
  color: #d5d5d5;
}
.services .container .box .content h3 {
  font-size: 24px;
  font-weight: bold;
  color: var(--main-color);
  margin-top: 10px;
}
.services .container .box .details {
  background-color: #f9f9f9;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.services .container .box .details .number {
  width: 95px;
  background-color: var(--main-color);
  text-align: left;
  position: relative;
  padding-left: 25px;
  height: 49px;
}
.services .container .box .details .number::after {
  content: "";
  position: absolute;
  right: -43px;
  height: 100%;
  width: 58px;
  background-color: #d5d5d5;
  transform: skewX(-27deg);
}
.services .container .box .details .number span {
  color: white;
  font-weight: bold;
  font-size: 30px;
}
.services .container .box .details .number span::after {
  content: "0" counter(services);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.services .container .box .details a {
  color: var(--main-color);
  padding: 15px;
}
/* End Services */
/* Our Skills */
.our-skills {
  position: relative;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}
.our-skills .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .our-skills .container img {
    display: none;
  }
}

.our-skills .container .skills {
  flex: 1;
}
.our-skills .container .holder {
  margin-bottom: 20px;
}
.our-skills .container .holder .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.our-skills .container .holder .header span {
  color: var(--main-color);
  font-size: 12px;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 3px 5px;
}
.our-skills .container .holder .progress {
  height: 30px;
  background-color: #eee;
  position: relative;
}
.our-skills .container .holder .progress span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
}
/* End Our Skills */
/* animations */
@keyframes moving-image {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes moving-arrow {
  0%,
  20%,
  40% {
    bottom: 30px;
  }
  10%,
  30% {
    bottom: 45px;
  }
}
@keyframes left-move {
  100% {
    left: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes right-move {
  100% {
    right: 0;
    border-radius: 0;
    width: 51%;
    height: 100%;
  }
}
@keyframes more-arrow {
  0% {
    right: 0;
  }
  50% {
    right: -5px;
  }
}
@keyframes fill-color {
  100% {
    width: 200%;
    height: 200%;
  }
}
/* End animations */
